nav {
  color: white;
  font-family: Arial, sans-serif;
  border: 1px solid black;

  ul, li {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    /*position: fixed; !* sticky on scroll *!*/
    overflow: hidden;
  }

  li {
    display: inline;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: black;

    /* CSS WTF */
    font-size: 0;
    * {
      font-size: 12px;
    }
  }

  li:hover {
    background-color: #ddd;
  }

  li > a, li > div {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 15px;
    border-right: 1px solid #bbb;
  }
  li > a {
    &:hover {
      background-color: #ddd;
    }
  }

  li > a:visited {
    text-decoration: none;
    display: inline-block;
    color: black;
  }

}
